/* Start Globale Rols */
html {
    scroll-behavior: smooth;
}
.marg-bott {
    margin-bottom: 150px;
}

.sec-color {
    background-color: #F9F9F9;
}
.pointer {
    cursor: pointer;
}
.pad-bot {
    padding-bottom: 40px;
}

.rotat {
    transform: rotateY(90deg);
}

.overlay {
    background-color: rgba(34, 42, 103, 0.817);
    height: 100%;
}

.trans-dur {
    transition: .4s;
}

.trans-2 {
    transition: .75s;
}

.lin-h {
    line-height: 3;
}

.top-15px {
    top: 15px;
}

.top-10px {
    top: 10px;
}

.h-650px {
    height: 650px;
}

.h-450px {
    height: 450px;
}

.w-90 {
    width: 90%;
}

.w-360px {
    width: 360px;
}

.cust-pad {
    padding: 12px 12px !important;
}

.py-70px {
    padding: 70px 0;
}

.same-w-h {
    width: 50px;
    height: 50px;
}

p,
ul {
    padding: 0;
    margin: 0;
}

.cust-pos {
    left: 60px;
    top: 15px;
}

@media (max-width: 992px) {
    .responsive {
        left: 0;
    }
}

/* End Globale Rols */
/* Start Nav Styl */
.dropdown:hover .dropdown-menu {
    display: block;
    border: 0;
    border-top: 2px solid blue;
    border-radius: 0;
    opacity: 1 !important;
}

.dropdown-menu:hover {
    opacity: 1 !important;
}

.nav-link:hover+.dropdown-menu {
    opacity: 1 !important;
}

a:hover {
    color: blue !important;
}

nav {
    position: sticky !important;
    top: 0 !important;
    background-color: white !important;
    z-index: 1024;
}

/* End Nav Styl */
/* Start Custom Style Section One */
.carousel .carousel-inner .cst-bt:hover {
    background-color: #0a58ca !important;
    border-color: #0a58ca !important;
}

.carousel-caption {
    bottom: 18.25rem;
}

.carousel-indicators {
    left: auto;
    bottom: 175px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
}

/* End Custom Style Section One */
/* Start Custom Style Section Two */
.sec-2 ul .cst-hover:hover h5,
.sec-2 ul .cst-hover:hover i {
    color: blue !important;
}

/* End Custom Style Section Two */
/* icon scrool bage*/
#scr-beha { 
    display: none;
}

.scroll-behavior i {
    position: fixed;
    bottom: 20px;
    right: 20px;
    line-height: 1.8;
}

/* end icon */
/* Start Section 4 */
.sec-4 {
    background-image: url(../imag/service-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.sec-4 .majeck-div {
    top: 100%;
    left: 0;
}

.sec-4 .card-animated:hover .majeck-div {
    top: 0;
    left: 0;
    transition: .3s;
}

/* End Section 4 */
/* Start section 5 */
.our-work {
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 16%);
}

.our-work-img-1 {
    background-image: url(../imag/download2.jpg);
}

.our-work-img-2 {
    background-image: url(../imag/download7.jpg);
}

.our-work-img-3 {
    background-image: url(../imag/download6.jpg);
}

.our-work-img-4 {
    background-image: url(../imag/download4.jpg);
}

.our-work-img-5 {
    background-image: url(../imag/download5.jpg);
}

.our-work-img-6 {
    background-image: url(../imag/download3.jpg);
}

.our-work:hover .rotat {
    transform: rotateY(0);
}

.our-work:hover {
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.422);
}

/* End section 5 */
/* Start Section 7 */
.cust-team-div {
    top: 78%;
}

.hov-team-div:hover .cust-team-div {
    top: 40%;
}

.cust-ico-div i:hover {
    color: black !important;
    cursor: pointer;
    transition: .5s;
}

.cust-ico-div {
    top: 100%;
    /* left: 5%; */
}

.hov-team-div:hover .cust-ico-div {
    top: 75%;
}

.hov-team-div:hover hr.visib-hid {
    visibility: hidden !important;
}

/* End Section 7 */
/* Start Section 9 */
.sec-9 h2 {
    font-size: 40px;
    font-weight: 400;
}

/* End Section  9*/
/* Start Section  10*/
.sec-10 button {
    border: none;
    background-color: transparent;
    color: #1a1a1a;
    font-weight: 600;
    font-family: 'Josefin Sans', sans-serif;
}

.cust-hover-div:hover ul {
    background-color: #0C65ED !important;
}

.cust-hover-div:hover img {
    transform: scale(1.1) rotate(-5deg);
    /* opacity: .7; */
}

.sec-10 .cust-hover-div i:hover {
    color: black !important;
}

/* End Section  10*/
/* Srart Section  11*/
.sec-11 .drop-shadow {
    filter: drop-shadow(-10px 0px 8px rgba(0, 0, 0, 0.33));
}

/* End Section * 11*/
/* Start Section * 12*/
.sec-12 button:hover {
    background-color: rgba(218, 238, 238, 0.834);
}

.sec-12 i {
    font-size: 100px !important;
    color: #fff !important;
    top: 50% !important;
    transform: translateY(-45%) !important;
    opacity: 0.3 !important;
}

/* End Section * 12*/
/* Footer */
.fot-shad {
    box-shadow: 0 .5rem 1rem rgb(175, 166, 166) !important;
}

.cust-siz {
    width: 80px;
    height: 60px;
}

footer button {
    border-radius: 20px !important;
    background-color: #F9F9F9 !important;
    border: 0 !important;
    color: black !important;
}

footer button:hover {
    background-color: #0C65ED !important;
    color: white !important;
}

footer img:hover {
    filter: brightness(.6);
}

footer h6:hover {
    color: gray !important;
}

/* End Footer */
/* Star Contant Bage*/
.h-350 {
    height: 350px;
}

.out-line-0 {
    outline: none !important;
}

.contact-sec-2 input:hover,
.contact-sec-2 input:focus,
textarea:hover,
textarea:focus {
    border-color: #0C65ED !important;
}

/* End Contant Bage*/